html, body {
  background-color: #000;
  line-height: 100%;
  font-size: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.app div, .app {
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.image-grid img {
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
}

#video,
canvas {
  display: block;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 35%;
}

#video {
  left: 0;
  top: 0;
}

/* styles.css */
.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loading-container_text {
  text-align: center;
  color: white;
  font-family: 'Pixer';
  width: 100vw;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: block;
}

.loading-container_text h1 {
  font-size: 45px;
  letter-spacing: 2px;
}

.loading-container_text p {
  font-size: 12px;
  letter-spacing: .5px;
  padding-top: 40px;
}

.loading-dots_container {
  display: flex;
  width: 160px;
  justify-content: space-between;
  padding-top: 10px;
}

.loading-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff; /* Initial background color for dots */
}

.loading-dot-fill {
  background-image: url('images/emotion-icons/neutral.png'); /* Image to be displayed on filled dots */
  background-size: cover;
  background-color: transparent;
  animation-name: dot-fill-animation;
}

@keyframes dot-fill-animation {
  from {
    background-color: #fff; /* Initial background color for dots */
  }
  to {
    background-image: url('images/emotion-icons/neutral.png'); /* Image to be displayed on filled dots */
    background-size: cover;
    background-color: transparent;
  }
}

.loading-page {
  background-color: #000;
  width: 110vw;
  height: 100vh;
}
