html,
body {
  background-color: #000;
  /* font-size: 2px; */
  line-height: 100%;
  font-size: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

div {
  position: absolute;
  left: 0;
}

/* pixel */
img:not(#image) {
  width: 3.3vw;
  height: 3.3vw;
}

#video,
canvas {
  display: block;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 35%;
}

#video {
  left: 0;
  top: 0;
}
