html, body {
  background-color: #000;
  line-height: 100%;
  font-size: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

div {
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

img:not(#image) {
  width: 3.3vw;
  height: 3.3vw;
  margin: 0;
  padding: 0;
}

#video,
canvas {
  display: block;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 35%;
}

#video {
  left: 0;
  top: 0;
}

/* loader */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}
